.input {
  margin-left: 50px;
  margin-right: 10px;
  height: 22px;
}

.button {
  color: aliceblue;
  background-color: black;
  border-style: none;
  height: 30px;
  width: 85px;
  border-radius: 5px;
}

.ul {
  margin-left: 30px;
}

.li {
  padding-bottom: 10px;
}
